

<h2>Add Contact</h2>

<form action="/contact/add" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="mobile" placeholder="Mobile"><br>
    <button type="submit">Add</button>

    <p style="color:red;"><%= error %></p>
</form>


