<form action="/edit/<%= contact._id  %>" method="post">
    <input type="text" name="name" id="" placeholder="name" value="<%= contact.name %>">
    <br>
    <input type="text" name="email" id="" placeholder="email" value="<%= contact.email %>">
    <br>
    <input type="text" name="mobile" id="" placeholder="mobile" value="<%= contact.mobile %>">
    <br>
    <button type="submit">Submit</button>
</form>