<form action="/add" method="post">
    <input type="text" name="name" id="" placeholder="name">
    <br>
    <input type="text" name="email" id="" placeholder="email">
    <br>
    <input type="text" name="mobile" id="" placeholder="mobile">
    <br>
    <button type="submit">Submit</button>
</form>